<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#009999">

<br/>
<div>
    <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
        <table width="30%">
            <tr><td>
                <label for="name">Login</label>
            </td>
                <td>
                    <input type="text" th:field="*{login}" id="login"/>
                </td></tr>
            <tr><td>
                <label for="passwd">Password</label>
            </td>
                <td>
                    <input th:type="password" th:field="*{passwd}" id="passwd"/>
                </td></tr>
            <tr><td>
                <label for="name">Name</label>
            </td>
                <td>
                    <input type="text" th:field="*{name}" id="name"/>
                </td></tr>
            <tr> <td>
                <label for="name">Lastname</label>
            </td>
                <td>
                    <input type="text" th:field="*{lastName}" id="lastName"/>
                </td></tr>
            <tr><td>
                <label for="name">Age</label>
            </td>
                <td>
                    <input type="text" th:field="*{age}" id="age"/>
                </td>
            </tr>
            <tr><td>
                <label for="roles">Roles</label>
            </td>
                <td>
                    <select  id="roles" name="roles" multiple="multiple" >
                        <option th:each="roleItem : ${allRoles}"
                                th:value="${roleItem.name()}"
                                th:text="${roleItem.name()}">option
                        </option>

                    </select>
                </td>
            </tr>
        </table>
        <br/>
        <input type="submit" value="Add User"/>
    </form>
</div>
<br/>
<a th:href="@{/admin}" text="Logout">index</a>
<br/>
<br/>
<a th:href="@{/logout}" text="Logout">Logout</a>
</body>
</html>